* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 12;
    transition: 0.2s;
}


/* Customizing ScrollBar  */

::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
}

::-webkit-scrollbar-button {
    background-color: rgba(245, 245, 245, 0);
    /* display: none; */
    height: 0rem;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 0.5rem;
}

:root {
    --Hover_On_Lang_Selection: whitesmoke;
    --Text_Color: black;
    --Box_Back: white;
}

body {
    background-color: whitesmoke;
}


/* Nav  */

nav {
    background-color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


/* Three Lines BTN Section  */

#Three_Lines_BTN {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 0.9rem;
    flex-direction: column;
}

#Three_Lines_BTN:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

.Three_Lines_BTN_Lines {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    width: 1.1rem;
    height: 0.1rem;
    margin: 0.1rem 0.1rem;
}


/* Nav Branding Images  */

#Nav_Branding_Images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.8rem;
    margin-top: 0.2rem;
}

#Google_Nav_Img {
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
    user-select: none;
}

#Translate_Nav_Txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font: caption;
    font-size: 22px;
    color: #5f6368;
    vertical-align: middle;
    margin-left: 0.2rem;
    font-family: 'Product Sans', Arial, sans-serif;
    user-select: none;
    text-decoration: none;
}


/* Quick Tool Bar  */

#Quick_Tool_Bar {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 15rem;
    height: 3rem;
    margin-right: 1rem;
}

#Dark_Mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    margin: 0rem 0.2rem;
    margin-left: auto;
    cursor: pointer;
}

#Dark_Mode:hover {
    background-color: rgba(0, 0, 0, 0.085);
}

#More_Options_BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    margin: 0rem 0.2rem;
    cursor: pointer;
}

#More_Options_BTN:hover {
    background-color: rgba(0, 0, 0, 0.085);
}

#Gmail_Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    margin: 0rem 0.2rem;
    cursor: pointer;
}

#Gmail_Profile:hover {
    background-color: rgba(0, 0, 0, 0.085);
}

#Gmail_Profile_Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 100%;
    content: url(https://yt3.ggpht.com/ytc/AKedOLR6RUF9IMuQ_Bo8KRYWFwBYJTQoYi8jZp7tShz_AA=s900-c-k-c0x00ffffff-no-rj);
}

.More_Options {
    width: 1.6rem;
    fill: black;
}

#Dark_Mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    margin-right: 0.2rem;
    transition: 0.5s;
}

#Dark_Icon_Main {
    width: 24px;
    fill: black;
}

#Light_Icon_Main {
    fill: white;
    width: 24px;
}


/* Parent Of all Elements Excluding nav */

#Parent_Of_All {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 73rem;
    margin: auto;
}


/* Text or Document Type Translation Selection Section  */

#Text_Doc_Type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}

#Text_Translation_BTN {
    background-color: #e4ecfa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 36px;
    border-radius: 5px;
    font: caption;
    color: #0c50af;
    padding: 0rem 1rem;
    font-weight: 500;
    font-size: .875rem;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    text-transform: none;
    margin-right: 0.8rem;
    border: 1px solid rgba(119, 119, 119, 0.61);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

#Document_Translation_BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 36px;
    border-radius: 5px;
    font: caption;
    color: #0c50af;
    padding: 0rem 1rem;
    font-weight: 500;
    font-size: .875rem;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    text-transform: none;
    margin-right: auto;
    border: 1px solid rgba(119, 119, 119, 0.61);
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: .0107142857em;
    user-select: none;
}


/* Translation Section  */

#Translation_Section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 14rem;
    background-color: #999;
    flex-direction: column;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 22%);
}

#BackGround {
    content: "";
    position: absolute;
    width: 100%;
    margin-top: 6rem;
    height: 58rem;
    background-color: white;
    z-index: 10;
}

#Translation_Lang_Selection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 3.6rem;
}

#Input_Lang_Selection {
    height: 2.8rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#Swap_Lang_BTN {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin: 0rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Swap_Lang_BTN:hover {
    background-color: var(--Hover_On_Lang_Selection);
}

#Output_Lang_Selection {
    height: 2.8rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Translation_Inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.342);
}

.Input_Lang_Boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
}

.Input_Lang_Boxes:hover {
    background-color: var(--Hover_On_Lang_Selection);
}

#Input_Lang_Box1 {
    color: blue;
}

#Input_Lang_Box1_Bottom {
    background-color: blue;
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: 14;
    bottom: 0;
}

.Output_Lang_Boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
}

#Output_Lang_Box2 {
    color: blue;
}

#Output_Lang_Box2_Bottom {
    background-color: blue;
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: 14;
    bottom: 0;
}

.Output_Lang_Boxes:hover {
    background-color: var(--Hover_On_Lang_Selection);
}

#More_Input_Lang_BTN {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 100%;
}

#More_Output_Lang_BTN {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 2rem;
    border-radius: 100%;
    cursor: pointer;
}

#More_Output_Lang_BTN:hover {
    background-color: var(--Hover_On_Lang_Selection);
}

#More_Input_Lang_BTN:hover {
    background-color: var(--Hover_On_Lang_Selection);
}


/* Translation Input  */

#Lang_Input_Text_div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-right: 1px solid rgba(0, 0, 0, 0.342);
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#Main_Text_Lang_In {
    background-color: transparent;
    display: flex;
    outline: none;
    border: none;
    resize: none;
    width: 85%;
    height: 5.5rem;
    margin-bottom: auto;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 24px;
}

#Options_For_Lang_Trans {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}

#Mic_Translation_BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    margin: auto 1.5rem;
}

#Mic_Translation_BTN:hover {
    background-color: rgba(194, 194, 194, 0.726);
}

#Mic_In_Lang_Trans {
    fill: #000;
    width: 24px;
}

#Lang_output_Text_div {
    display: flex;
    width: 50%;
    height: 100%;
}

#Tranlation_Text {
    font-size: 24px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgb(100, 100, 100);
    margin-top: 1rem;
    margin-left: 2rem;
}

#Letter_Size_In_Trans {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font: caption;
    font-size: 0.75rem;
    height: 2rem;
}

#KeyBoard_Img_In_Trans {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    width: auto;
    height: 2rem;
    margin-left: 1rem;
}

#KeyBoard_Img {
    fill: #999;
    width: 1.8rem;
}

#Arrow_Down_IMG {
    fill: #999;
    transform: rotate(90deg);
    width: 0.8rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}


/* FeedBack Options  */

#Feedback_Option_Sec {
    width: 100%;
    height: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#FeedBack_Link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font: caption;
    font-style: italic;
    font-size: 0.72rem;
    margin-left: auto;
}

#FeedBack_Link:hover {
    text-decoration: underline;
}


/* Footer  */

footer {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_Boxes {
    background-color: var(--Box_Back);
    border: 1px solid rgb(202, 202, 202);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0rem 2rem;
    cursor: pointer;
}

#History_icon {
    fill: #777;
    width: 38px;
}

#Saved_Img {
    fill: #777;
    width: 38px;
}

#Contribute_Icon {
    fill: #777;
    width: 38px;
}

.Footer_BTN_txt {
    color: var(--Text_Color);
    position: absolute;
    bottom: -40%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}


/* YT Channel Section  */

#YouTube_Sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    margin-top: 4rem;
}

#YT_Channel_Pic {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLR6RUF9IMuQ_Bo8KRYWFwBYJTQoYi8jZp7tShz_AA=s900-c-k-c0x00ffffff-no-rj);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
}

#YT_Channel_Name {
    font: caption;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-weight: 500;
    user-select: none;
    cursor: default;
}

#Subscribe_BTN {
    background-color: rgb(245, 0, 0);
    font: caption;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    padding: 0.6rem;
    margin-left: 1rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px red;
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

#Subscribe_BTN:hover {
    background-color: red;
}

#Visit_Channel {
    background-color: rgb(0, 0, 209);
    font: caption;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    padding: 0.6rem;
    margin-left: 1rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px blue;
    border: 2px solid blue;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

#Visit_Channel:hover {
    background-color: blue;
}

#Web_Details {
    color: white;
    background-color: black;
    width: 100%;
    height: 2rem;
    margin-top: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: caption;
    font-size: 0.9rem;
}
